<div *ngFor="let companyDetail of companyDetails" class="card">
    <h5 class="card-header">{{companyDetail.companyName}}</h5>
    <div class="card-body">
      <h5 class="card-title">Taşıma Türleri: {{companyDetail.requestType}}</h5>
      <p class="card-text">Araç Türleri: {{companyDetail.vehicleType}}</p>
      <p class="card-text">Puanı : {{companyDetail.rating}}</p>
      
      
      <a routerLink="transportRequests/add" class="btn btn-primary">Nakliyat Talebi</a> 
    
      <a style="color: grey; font-style: italic;float: right;" routerLink="/vehicles/{{companyDetail.companyId}}"> Araç bilgileri için tıklayınız </a>
      <button class="btn btn-success m-lg-2" routerLink="/team/{{companyDetail.companyId}}">Taşıma Ekibi Bilgisi</button>
      
    

    
    </div>
  </div>



