<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Nakliyat Talebi Oluştur</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="transportRequestAddForm">
          <div class="mb-3">
            <div class="form-group">
              <label
              for="requestTypeId"
              class="col-sm-2 col-form-label col-form-label-sm"
              >Taşıma Türü</label
            >
            <select
              formControlName="requestTypeId"
              class="form-select"
              aria-label="Taşıma Türü Seçiniz"
            >
              <option value="0">Taşıma türü Seç</option>
              <option [ngValue]="requestType.requestTypeId" *ngFor="let requestType of requestTypes">
                {{ requestType.requestTypeName }}
              </option>
            </select>

              <!-- <label for="requestTypeId">Taşıma türü</label>
              <select
                class="form-control"
                id="requestTypeId"
                formControlName="requestTypeId"
              >
                <option [ngValue]="0" disabled selected>Taşıma türü seçiniz</option>
                <option
                  *ngFor="let requestType of requestTypes"
                  [ngValue]="requestType.requestTypeId"
                >
                  {{ requestType.requestTypeName }}
                </option>
              </select> -->
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="sourceAddress">Alım adresi</label>
              <input
                type="text"
                id="sourceAddress"
                formControlName="sourceAddress"
                class="form-control"
                placeholder="Alım Adresi"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="destinationAddress">Teslimat Adresi</label>
              <input
                type="text"
                id="destinationAddress"
                formControlName="destinationAddress"
                class="form-control"
                placeholder="Teslimat Adresi"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for="userId">Kullanıcı</label>
              <input
                type="text"
                id="userId"
                formControlName="userId"
                class="form-control"
                placeholder="userId "
              />
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <button class="btn btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
