<ul *ngFor="let transportRequest of transportRequests" class="list-group">
    <li class="list-group-item">{{transportRequest.userId}}</li>
    <li class="list-group-item">{{transportRequest.requestTypeId}}</li>
    <li class="list-group-item">{{transportRequest.sourceAddress}}</li>
    <li class="list-group-item">{{transportRequest.destinationAddress}}</li>
    <li class="list-group-item">{{transportRequest.requestDate}}</li>
    <li class="list-group-item">{{transportRequest.status}}</li>
</ul>
